<div class="container">
  <h1>您可以进行以下操作：</h1>
  <div class="card-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
    <md-card class="flex-item" routerLink="upload-video">
      <md-card-header>
        <md-card-title>视频管理</md-card-title>
        <md-card-subtitle>上传视频到服务器中</md-card-subtitle>
      </md-card-header>
      <md-card-content fxlayout="row" fxLayoutAlign="center center">
        <i class="material-icons">video_library</i>
      </md-card-content>
    </md-card>
    <md-card class="flex-item" routerLink="task-list">
      <md-card-header>
        <md-card-title>任务管理</md-card-title>
        <md-card-subtitle>创建视频字幕提取任务</md-card-subtitle>
      </md-card-header>
      <md-card-content fxlayout="row" fxLayoutAlign="center center">
        <i class="material-icons">assignment</i>
      </md-card-content>
    </md-card>
  </div>
</div>
